sanitized/Automated_appointment_related_followup_call.json
{
  "name": "Automated appointment related followup call",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 34
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "SANITIZED_ID",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "email@example.com",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus(12, 'hours') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        220,
        0
      ],
      "id": "SANITIZED_ID",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SANITIZED_ID",
          "name": "CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Appointment Details: {{ $json.description }}\nStartTime: {{ $json.start.dateTime }}\nEndTime: {{ $json.end.dateTime }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an assistant. Generate structured JSON with the following fields:\n\n- name: full name of the recipient\n\n- phone_number: string\n\n- reason: reason for the appointment\n\n- start_time: ISO 8601 datetime (Format is date-time)\n\n- end_time: ISO 8601 datetime (Format is date-time)\n\n- email\n\nOutput ONLY in this exact JSON format. No comments, no extra text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        440,
        0
      ],
      "id": "SANITIZED_ID",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        440,
        220
      ],
      "id": "SANITIZED_ID",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SANITIZED_ID",
          "name": "CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\n\"type\": \"object\",\n\n\"properties\": {\n\n\"output\": {\n\n\"type\": \"object\",\n\n\"properties\": {\n\n\"name\": { \"type\": \"string\" },\n\n\"email\": { \"type\": \"string\", \"format\": \"email\" },\n\n\"phone_number\": { \"type\": \"string\" },\n\n\"reason\": { \"type\": \"string\" },\n\n\"start_time\": { \"type\": \"string\", \"format\": \"date-time\" },\n\n\"end_time\": { \"type\": \"string\", \"format\": \"date-time\" }\n\n},\n\n\"required\": [\n\n\"name\",\n\n\"email\",\n\n\"phone_number\",\n\n\"reason\",\n\n\"start_time\",\n\n\"end_time\"\n\n]\n\n}\n\n},\n\n\"required\": [\"output\"]\n\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        620,
        220
      ],
      "id": "SANITIZED_ID",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SANITIZED_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\n\"from_number\": \"+1 (620) 675-7384\",\n\n\"to_number\": \"{{ $json.output.phone_number }}\",\n\n\"retell_llm_dynamic_variables\": {\n\n\"name\": \"{{ $json.output.name }}\",\n\n\"phone_number\": \"{{ $json.output.phone_number }}\",\n\n\"reason\": \"{{ $json.output.reason }}\",\n\n\"start_time\": \"{{ $json.output.start_time }}\",\n\n\"end_time\": \"{{ $json.output.end_time }}\"\n\n},\n\n\"override_agent_id\": \"agent_1d63f6142c01ee5e8d3332e91e\"\n\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        0
      ],
      "id": "SANITIZED_ID",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "SANITIZED_UUID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "SANITIZED_INSTANCE_ID"
  },
  "id": "SANITIZED_WORKFLOW_ID",
  "tags": []
}